<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.mobile3d.application">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="true" />

    <application
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/ic_app"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_app_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name="com.mobile3d.application.PasswordIpActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name="com.mobile3d.application.SocketSetupActivity"
                android:windowSoftInputMode="adjustResize" />
        <activity
                android:name="com.mobile3d.application.GattOperationsActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name="com.mobile3d.application.BluetoothLeActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name="com.mobile3d.application.SettingsActivity"
                />
        <activity
                android:name="com.mobile3d.application.ControlActivity"
                android:screenOrientation="portrait"
                android:usesCleartextTraffic="true"
                android:windowSoftInputMode="adjustResize"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name="com.mobile3d.application.MainActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:name="com.mobile3d.application.MyFirebaseMessagingService"
                android:stopWithTask="false"
                android:exported="false"
                >
            <intent-filter>
                <action
                        android:name="com.google.firebase.MESSAGING_EVENT"
                        />
            </intent-filter>

        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_mobile_3d_borderless" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorPrimary" />

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />


    </application>

</manifest>